include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
    include ../common/head
    body.calc-body
        include ../common/header
        include ../common/calc-part
        include ../common/footer
        // END body