//header
body.calc-body {
    min-width: 320px;
}
body {
    font-family: 'CoreSansA45Regular';
    font-size: 21px;
    line-height: 25px;
    color: #383E30;
    @media (max-width: 850px) {
        font-size: 18px;
        line-height: 1.2;
    }
    @media (max-width: 620px) {
        font-size: 16px;
    }
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1199px) {
        padding: 0 40px;
    }
    @media (max-width: 620px) {
        padding: 0 15px;
    }
}
.calc input {
    position: relative;
    &:focus {
        outline: none;
        position: relative;
        
    }
    
}
.calcheader {
    &__title {
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        text-transform: capitalize;
        color: #383E30;

        @media (max-width: 767px) {
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    &__logo {
        display: block;
        width: 204px;
        svg {
            width: 100%;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        @media (max-width: 1199px) {
            padding: 25px 40px;
        }
        @media (max-width: 620px) {
            padding: 25px 15px;
        }
        
    }
}
.calc {
    &__total {
        width: 173px;
        background: transparent;
        border: none;
        outline: none;
        font-family: "CoreSansM65Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 60px;
        line-height: 70px;
        color: #383E30;
        @media (max-width: 620px) {
            font-size: 45px;
            line-height: 1.2;
            width: 130px;
        }
    }
    &__title {
        font-family: "CoreSansM65Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 104px;
        @media (max-width: 1199px) {
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        @media (max-width: 850px) {
            margin-bottom: 15px;
        }
    }
    &__subtitle {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
        @media (max-width: 1199px) {
            width: 50%;
            text-align: right;
            padding-right: 50px;
            box-sizing: border-box;
        }
        @media (max-width: 620px) {
            width: 100%;
            padding-right: 0;
            text-align: center;
            margin-bottom: 0;
        }
    }
    &__first {
        display: flex;
        margin-bottom: 61px;
        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }
        @media (max-width: 850px) {
            margin-bottom: 40px;
        }
        @media (max-width: 620px) {
            margin-bottom: 20px;
        }
    }
    &__img {
        margin: 0 auto;
        float: none;
        width: 60%;
        img {
            width: 100%;
        }
        @media (max-width: 700px) {
            width: 100%;
        }
    }
    &__price {
        font-family: "CoreSansM65Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 60px;
        line-height: 70px;
        &-wrap {
            width: 40%;
            padding: 60px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            @media (max-width: 1199px) {
                width: 100%;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            @media (max-width: 850px) {
                padding-top: 40px;
            }
            @media (max-width: 620px) {
                padding: 20px 20px 0;
            }
        }
        
        font-size: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        span {
            padding-left: 10px;;
        }
        @media (max-width: 1199px) {
            width: 50%;
            font-size: 36px;
        }
        @media (max-width: 620px) {
            width: 83%;
            margin: 0 auto;
            font-size: 38px;
        }
    }
    &__btn {
        cursor: pointer;
        width: 100%;
        font-family: "CoreSansM65Bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 35px;
        line-height: 40px;
        padding: 13px;
        text-align: center;
        display: block;
        background: #56A446;
        color: #fff;
        text-transform: uppercase;
        border-color: transparent;
        transition: 0.3s;
        @media (max-width: 850px) {
            margin-top: 40px;
        }
        @media (max-width: 620px) {
            margin-top: 35px;
            font-size: 30px;
            line-height: 30px;
            padding: 6px;
        }
        &:hover {
            background: rgb(54, 119, 41);
        }
    }
    &-info {
        display: flex;
        justify-content: center;
        padding: 59px 0 96px;
        background: #F5F5F5;
        @media (max-width: 620px) {
            padding: 40px 0;
        }
        &__rezult {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 620px) {
                display: block;
                text-align: center;
            }
            .calc__price {
                font-size: 35px;
                line-height: 41px;
                @media (max-width: 620px) {
                    margin-top: 20px;
                    justify-content: center;
                }
            }
            .calc__total{
                width: 101px;
                font-size: 35px;
                line-height: 41px;
            }
        }
        &__form {
            display: flex;
            @media (max-width: 850px) {
                display: block;
            }
        }
        &__left {
            width: 60%;
            @media (max-width: 850px) {
                width: 100%;
                margin-top: 40px;
            }
            input {
                padding: 20px;
                background: #fff;
                width: 100%;
                border-color: transparent;
                box-sizing: border-box;
            }
            label {
                display: block;
                font-size: 21px;
                line-height: 25px;
                margin: 15px 0 8px;
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            padding-left: 65px;
            @media (max-width: 850px) {
                width: 100%;
                padding-left: 0;
            }
        }
        &__agree {
            position: relative;
            margin-top: 36px;
            font-size: 18px;
            line-height: 21px;
            padding-left: 37px;
            .calcTable__checkbox {
                position: absolute;
                left: 0;
                top: 0;
            }
            input {
                display: none;
                visibility: hidden;
                &:checked + .calcTable__checkbox {
                    &:after {
                        background: url("../img/tick.svg")  no-repeat;
                    }
                }
            }
            &:hover {
                .calcTable__checkbox { 
                    box-shadow: 0 0 6px rgba(72,165,72,.75);
                    border-color: #49a647;
                }
            }

        }
        &__description {
            font-size: 18px;
            line-height: 21px;
            margin-top: 30px;
        }
    } 
    .modal {
        @media (max-width: 700px) {
            width: 100%;
            padding: 30px 15px;
        }
    }
}
.calcTable {
    font-size: 21px;
    line-height: 25px;
    text-transform: capitalize;
    @media (max-width: 850px) {
        font-size: 18px;
        line-height: 1.2;
    }
    @media (max-width: 500px) {
        font-size: 14px;
    }
    &__data {
        width: 20%;
        padding: 17px 24px;
        // border-right: 1px solid #ebebeb;
        @media (max-width: 1199px) {
            width: 29%;
        }
        @media (max-width: 850px) {
            padding: 10px;
        }
        @media (max-width: 500px) {
            box-sizing: border-box;
            width: 40%;
            padding: 8px 5px;
        }
    }
    &__config {
        flex-grow: 1;
        flex-basis: 0;
        padding: 17px 24px;
        @media (max-width: 850px) {
            padding: 10px;
        }
        @media (max-width: 500px) {
            box-sizing: border-box;
            width: 60%;
            flex-grow: unset;
            flex-basis: unset;
            padding: 8px 5px;
        }
    }
    &__price {
        width: 18%;
        padding: 15px 5px;
        @media (max-width: 500px) {
            box-sizing: border-box;
            width: 40%;
            padding: 8px 5px 15px;
        }
    }
    &__head {
        display: flex;
        font-size: 21px;
        line-height: 25px;
        background-color: #000;
        color: #fff;
        margin-bottom: 10px;
        @media (max-width: 850px) {
            font-size: 17px;
            line-height: 18px;
        }
        @media (max-width: 500px) {
            flex-wrap: wrap;
            font-size: 13px;
        }
        .calcTable__data {
            width: 20%;
            border-color: transparent;;
            @media (max-width: 1199px) {
                width: 29%;
            }
            @media (max-width: 500px) {
                width: 40%;
                padding: 8px;
            }
        }
        .calcTable__config {
            flex-grow: 1;
            flex-basis: 0;
            padding: 15px;
            @media (max-width: 850px) {
                padding: 10px;
            }
            @media (max-width: 500px) {
                width: 60%;
                flex-grow: unset;
                flex-basis: unset;
                padding: 8px;
            }
        }
        .calcTable__price {
            width: 20%;
            padding-right: 45px;
            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
    &__line {
        display: flex;
        cursor: pointer;
        @media (max-width: 500px) {
            flex-wrap: wrap;
        }
        label {
            display: flex;
            width: 100%;
            @media (max-width: 500px) {
                flex-wrap: wrap;
            }
        }
        &:nth-child(2n) {
            background-color:  #F5F5F5;;
        }
        &:hover {
            color: #48a548;
            .calcTable__checkbox { 
                box-shadow: 0 0 6px rgba(72,165,72,.75);
                border-color: #49a647;
            }
        }
        input {
            visibility: hidden;
            display: none;
            &:checked + .calcTable__checkbox {
                &:after {
                    background: url("../img/tick.svg")  no-repeat;
                }
            }
        }
    }
    &__subline {
        display: block;
    }
    &__checkbox {
        border: 2px solid #aaa;
        width: 20px;
        height: 20px;
        align-self: center;
        margin-right: 24px;
        @media (max-width: 500px) {
            box-sizing: border-box;
            justify-content: center;
            display: flex;
            margin: 0 auto;
        }

        position: relative;
        
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 3px;
            width: 30px;
            height: 30px;
            visibility: visible;
        }
    }
    &__info {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
}
//cacc
.accordeon-title {
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    @media (max-width: 620px) {
        margin-top: 20px;
    }
}
.accordeon-title:after {
    content: '';
    position: absolute;
    top: 26px;
    right: 24px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 6px;
    height: 6px;
    text-align: center;
    transform: rotate(45deg);
    @media (max-width: 850px) {
        top: 18px;
    }
    @media (max-width: 500px) {
        content: none;
    }

  }
  .accordeon-title.is-opened:after {
    transform: rotate(225deg);
    @media (max-width: 500px) {
        content: none;
    }

  }
  .accordeon-content {
    display: none;
  } 