.calc
    form(action="")
        .calc__first
            .calc__img
                    img(src="img/bambuk-velo.jpg", alt="")
            .calc__price-wrap
                .calc__title Calculator
                .calc__subtitle Total sum:
                .calc__price
                    input(type="text" readonly value="7350" class="calc__total")
                    span Euro
        .container
            .calc__table.calcTable.accordeon
                .calcTable__head.accordeon-title
                    .calcTable__data TECHNICAL DATA
                    .calcTable__config BASIC CONFIGURATION
                .calcTable__body.accordeon-content
                    .calcTable__line
                        .calcTable__data TYPE
                        .calcTable__config tricycle-tandem
                    .calcTable__line
                        .calcTable__data FRAME
                        .calcTable__config teleskopic frame adjustable for boby sizes from 150cm to 200cm
                    .calcTable__line.calcTable__subline
                        .calcTable__line
                            .calcTable__data DIMENSIONS
                            .calcTable__config 2 x 24“ front wheels, 26“ rear wheel
                        .calcTable__line
                            .calcTable__data … ready to use
                            .calcTable__config 260-280cm depending on body size width 95cm, height max. 100cm
                        .calcTable__line
                            .calcTable__data … for transportation
                            .calcTable__config 190cm x 95cm x 100cm (LxWxH)
                    .calcTable__line
                        .calcTable__data FRONT SUSPENSION
                        .calcTable__config double leaf spring
                    .calcTable__line
                        .calcTable__data REAR SUSPENSION
                        .calcTable__config spring-oil damper, individually adjustable
                    .calcTable__line
                        .calcTable__data SEERING
                        .calcTable__config steering from the front seat
                    .calcTable__line
                        .calcTable__data MAIN BRAKE
                        .calcTable__config 2 x hydraulic front wheel disc brakes, 180mm, with locking function
                    .calcTable__line
                        .calcTable__data SECOND BRAKE
                        .calcTable__config rear mechanical disc brake (Avid BB5), 180mm, with locking function
                    .calcTable__line
                        .calcTable__data GEERING
                        .calcTable__config 
                            | Rohloff 14-speed hub, controls from rear seat* 
                            br
                            span * in this configuration with the freewheel for the front person, without extra charge
                    .calcTable__line
                        .calcTable__data ELECTRIC MOTOR
                        .calcTable__config e-middle motor, 250W, 36V, 80Nm, display on handle bar, starting aid up 6 kmh, charger
                    .calcTable__line
                        .calcTable__data BATTERY
                        .calcTable__config 14,5 Ah, 36V, with a lock and a key
                    .calcTable__line
                        .calcTable__data REAR RACK
                        .calcTable__config BamBuk rear rack with mounted LED-tail light, standard fixation for side bags
                    .calcTable__line
                        .calcTable__data LED HEADLIGHT
                        .calcTable__config 30 LUX, with integrated front reflektor, incl. charging cable
                .calcTable__head.accordeon-title.is-opened
                    .calcTable__data ADDITIONAL OPTIONS
                    .calcTable__config TECHNICAL DATA
                    .calcTable__price PRICES VAT FREE
                .calcTable__body.accordeon-content(style="display: block;")
                    .calcTable__line
                        label(for="checkbox_1")
                            .calcTable__data CARRIER FOR A TRAILER COUPLING
                            .calcTable__config E-Trike Tandems transportation carrier for a trailer coupling,    incl. 3 loading ramps
                            .calcTable__price 1109 Euro
                            input#checkbox_1(type='checkbox', name='trailer_coupling', data-value='1109')
                            .calcTable__checkbox

                    .calcTable__line
                        label(for="checkbox_2")
                            .calcTable__data ADDITIONAL BATTERY
                            .calcTable__config 14,5Ah, 36V
                            .calcTable__price 629 Euro
                            input#checkbox_2(type='checkbox', name='BATTERY', data-value='629')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_3")
                            .calcTable__data BATTERY HOLDER FOR ADDITIONAL BATTERY
                            .calcTable__config space saving storage for the additional battery,                                with a lock and a key
                            .calcTable__price 487 Euro
                            input#checkbox_3(type='checkbox', name='BATTERY_HOLDER', data-value='487')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_4")
                            .calcTable__data STEERING FROM REAR SEAT *
                            .calcTable__config all controls from the rear: steering, Rohloff shifting, motor display and control, both front and rear brake handles
                            .calcTable__price 571 Euro
                            input#checkbox_4(type='checkbox', name='REAR_SEAT', data-value='571' )
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_5")
                            .calcTable__data COMFORT SEATS 
                            .calcTable__config padded seats, both front and rear
                            .calcTable__price 250 Euro
                            input#checkbox_5(type='checkbox', name='COMFORT_SEATS', data-value='250')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_6")
                            .calcTable__data UPGRADED LED HEADLIGHT
                            .calcTable__config 80 LUX, incl. charging cable, with a separate reflector
                            .calcTable__price 81 Euro
                            input#checkbox_6(type='checkbox', name='LED_HEADLIGHT', data-value='81')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_7")
                            .calcTable__data MIRROR
                            .calcTable__config mounted on the handlebar 
                            .calcTable__price 32 Euro
                            input#checkbox_7(type='checkbox', name='MIRROR', data-value='32')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_8")
                            .calcTable__data REAR RACK SIDE BAGS
                            .calcTable__config rear rack side bags (ex. Ortlieb, VAUDE), water resistant, price depending on model
                            .calcTable__price  140 Euro
                            input#checkbox_8(type='checkbox', name='REAR_RACK_SIDE_BAGS', data-value='140')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_9")
                            .calcTable__data BAMBUK SPECIAL CRANK
                            .calcTable__config with adjustable crank length from 170mm down to 0mm (at 0mm the rear person has a rest), price per side, left or right
                            .calcTable__price 160 Euro
                            input#checkbox_9(type='checkbox', name='CRANK', data-value='160')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_10")
                            .calcTable__data SPECIAL PEDALS
                            .calcTable__config HP pedals with heel support, price per side, left or right
                            .calcTable__price 57 Euro
                            input#checkbox_10(type='checkbox', name='SPECIAL_PEDALS', data-value='57')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_11")
                            .calcTable__data CLICK PEDALS (PAIR)
                            .calcTable__config Shimano Trekking-System pedals, with one side with SPD-click, other side for normal shoes, price fort he pair
                            .calcTable__price 54 Euro
                            input#checkbox_11(type='checkbox', name='CLICK_PEDALS', data-value='54')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_12")
                            .calcTable__data 5-POINT BELT WITH SHOULDER PADS
                            .calcTable__config with magnet lock, anti-open system
                            .calcTable__price 96 Euro
                            input#checkbox_12(type='checkbox', name='BELT', data-value='96')
                            .calcTable__checkbox
                    .calcTable__line
                        label(for="checkbox_13")
                            .calcTable__data SHIFTING CONTROL FROM THE FRONT SEAT **
                            .calcTable__config Rohloff-shifting control from the front seat**
                            .calcTable__price 160 Euro
                            input#checkbox_13(type='checkbox', name='SHIFTING_CONTROL', data-value='160')
                            .calcTable__checkbox
            .calcTable__info
                .calcTable__info-item * with freewheel for the front person, the main battery is mounted in the battery holder under the rear seat 
                .calcTable__info-item ** IMPORTANT! with this option it is not possible to install the freewheel for the front person!
        .calc-info
            .container
                .calc-info__rezult
                    .calc__info-title Send the data and we will contact you  
                    .calc__price
                        input(type="text" readonly value="7350" class="calc__total")
                        span Euro
                .calc-info__form  
                    .calc-info__left     
                        input(type='hidden', name='action1', value='Calc info')
                        .half_input.pull-left
                        label.label(for='calc_name') Name
                        input#calc_name(name='userName', type='text')
                        .half_input.pull-right
                        label.label(for='calc_phone') Phone number
                        input#calc_phone(name='phone', type='phone')
                        .clearfix
                        label.label(for='calc_email') Email address
                            sup ***
                        input#calc_email(name='email', type='email', required='true')
                    .calc-info__right
                        .calc-info__agree
                            input#calc_checkbox(type='checkbox', required='', name='confirm')
                            .calcTable__checkbox
                            label(for='calc_checkbox') Yes, I would like the BamBuk team to contact me. We promise we won't overload you with information and marketing materials!
                            sup *** 
                            .calc-info__description *** obligatory information
                        button.btn.calc__btn(type='submit') SEND