.calc
  .container
    .calc__title Calculator
    .calc__first
        .calc__img
                img(src="img/bambuk-velo.jpg", alt="")
        .calc__price-wrap
            .calc__price Total sum:
            .calc__price
                .calc__total 7350
                span Euro
    .row
        .col-lg-6.col-md-12.col-sm-12.col-xs-12
    .calc__table.calcTable
        .calcTable__head
            .calcTable__data TECHNICAL DATA
            .calcTable__config BASIC CONFIGURATION
        .calcTable__body
            .calcTable__line
                .calcTable__data TYPE
                .calcTable__config tricycle-tandem
            .calcTable__line
                .calcTable__data FRAME
                .calcTable__config teleskopic frame adjustable for boby sizes from 150cm to 200cm
            .calcTable__line.calcTable__subline
                .calcTable__line
                    .calcTable__data DIMENSIONS
                    .calcTable__config 2 x 24“ front wheels, 26“ rear wheel
                .calcTable__line
                    .calcTable__data … ready to use
                    .calcTable__config 260-280cm depending on body size width 95cm, height max. 100cm
                .calcTable__line
                    .calcTable__data … for transportation
                    .calcTable__config 190cm x 95cm x 100cm (LxWxH)
            .calcTable__line
                .calcTable__data FRONT SUSPENSION
                .calcTable__config double leaf spring
            .calcTable__line
                .calcTable__data REAR SUSPENSION
                .calcTable__config spring-oil damper, individually adjustable
            .calcTable__line
                .calcTable__data SEERING
                .calcTable__config steering from the front seat
            .calcTable__line
                .calcTable__data MAIN BRAKE
                .calcTable__config 2 x hydraulic front wheel disc brakes, 180mm, with locking function
            .calcTable__line
                .calcTable__data SECOND BRAKE
                .calcTable__config rear mechanical disc brake (Avid BB5), 180mm, with locking function
            .calcTable__line
                .calcTable__data GEERING
                .calcTable__config 
                    | Rohloff 14-speed hub, controls from rear seat* 
                    br
                    span * in this configuration with the freewheel for the front person, without extra charge
            .calcTable__line
                .calcTable__data ELECTRIC MOTOR
                .calcTable__config e-middle motor, 250W, 36V, 80Nm, display on handle bar, starting aid up 6 kmh, charger
            .calcTable__line
                .calcTable__data BATTERY
                .calcTable__config 14,5 Ah, 36V, with a lock and a key
            .calcTable__line
                .calcTable__data REAR RACK
                .calcTable__config BamBuk rear rack with mounted LED-tail light, standard fixation for side bags
            .calcTable__line
                .calcTable__data LED HEADLIGHT
                .calcTable__config 30 LUX, with integrated front reflektor, incl. charging cable
