//- footer.footer
//-   .top.grey_bg
//-     .container
//-       .row
//-         .col-xs-12
//-           .logo_addr_wrap.col
//-             a.logo(href='/')
//-               img(src='https://bambuk.de/wp-content/uploads/2017/05/logo.svg', data-dark='/wp-content/uploads/2017/05/logo_dark.svg', alt='BamBuk Liegerad Trike 3Rad E Tandem')
//-             .adrr
//-               | Yburgstr.16A
//-               br
//-               | 77815 Bühl Deutschland
//-           nav.col.footer_nav
//-             .nav_col
//-               ul
//-                 li
//-                   a(href='/de/') Home
//-                 li
//-                   a(href='/de/about') Über uns
//-                 li
//-                   a(href='/de/e-trike') E-trike
//-             .nav_col
//-               ul
//-                 li
//-                   a(href='/de/news') NACHRICHTEN
//-                 li
//-                   a(href='/de/reviews') Bewertungen
//-                 li
//-                   a(href='/de/contacts') Kontakte
//-           .links
//-             .links_col
//-               a.btn.btn_info_modal(href='#') Information
//-               a.btn.btn_subscribe_modal(href='#') News-Abo
//-             .links_col
//-               a.btn.btn_test_drive_modal(href='#') Probefahrt
//-               a.btn.btn_price_list_modal(href='#') Preisliste
//-   .bottom
//-     .container
//-       .row
//-         .col-xs-12
//-           .copyright © 2019 «BamBuk». Alle Rechte vorbehalten.
//-           a.impresum(href='/imprint/') Impressum
//-           .soc
//-             a.ico.ico_fb(href='https://www.facebook.com/bikebambuk/', title='facebook', target='_blank')
//-             a.ico.ico_ig(href='https://www.instagram.com/bambukbike/', title='instagram', target='_blank')
//-             a.ico.ico_yt(href='https://www.youtube.com/channel/UCdcSzQuWD5qrBXfoswaYEtw', title='youtube', target='_blank')
//-             a.ico.ico_gp(href='https://plus.google.com/u/2/110850543071750579686', title='googleplus', target='_blank')
//-           .develop
//-             | Web-Master: 
//-             a(href='http://prospekt-it.com/', target='_blank') Prospekt


//- script(src="js/scripts.min.js")
script(src="libs/1.jquery/dist/jquery.min.js")

script(src="js/common.js")
